header {
    background-color: green;
    text-align: center;
    size: 500px;
    margin: 50px;
    font-size: 50px;
    font-weight: bold;
}

.p1 {
    background-color: blue;
    font-size: 25px;
    color: white;
}

.p2 {
    background-color: blue;
    font-size: 25px;
    color: white;
}
.e1 {
    background-color: blue;
    font-size: 25px;
    color: white;
}
.e {
    background-color: blue;
    font-size: 25px;
    color: white;
}
img{
    width: 200px;height: 200px;
}
body{
    background-color: rgba(255, 255, 0, 0.875);
}
p, header {
    font-family: 'Tahoma', 'Arial', sans-serif;
}